<!DOCTYPE html>
<html ng-app="store">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="Scripts/angular.js"></script>
    <link rel="stylesheet" href="Scripts/bootstrap.js"/>
    <link rel="stylesheet" href="Content/bootstrap.css"/>
    <title></title>
</head>
<body ng-controller="myController as store">
    <script type="text/javascript" src="Scripts/JavaScript.js"></script>
    
    <!--<h1 ng-include="'toIncludeHtml.html'"></h1>-->
    <h3 gem-info></h3>

    <h1 class="text-primary text-center">GEM Store</h1>
    
    <div class="list-group">
        <div ng-hide="{{gem.soldOut}}" ng-repeat="gem in gem" class="list-group-item">
            <h3>{{gem.name}}</h3>
            
            <img ng-src="{{gem.images[0].picURL}}" height="100px" length="100px" style="margin:3%" />
            <button type="button" style="float:right; margin-right:10%" ng-show="{{gem.canPurchase}}" class="btn btn-info">Add to Cart</button>

            <br />

            <section ng-controller="panelController as panel" class="panel panel-info">
                <!--ng-init="tab=1"-->
                <ul class="nav nav-pills">
                    <!--<li ng-class="{active:tab===1}"><a ng-click="tab=1">Description</a></li>-->
                    <!--<li ng-class="{active:tab===2}"><a ng-click="tab=2">Specifications</a></li>
                    <li ng-class="{active:tab===3}"><a ng-click="tab=3">Images</a></li>
                    <li ng-class="{active:tab===4}"><a ng-click="tab=4">Reviews</a></li>-->

                    <li ng-class="{active:panel.isSelected(1)}"><a ng-click="panel.selectedTab(1)">Description</a></li>
                    <li ng-class="{active:panel.isSelected(2)}"><a ng-click="panel.selectedTab(2)">Specifications</a></li>
                    <li ng-class="{active:panel.isSelected(3)}"><a ng-click="panel.selectedTab(3)">Images</a></li>
                    <li ng-class="{active:panel.isSelected(4)}"><a ng-click="panel.selectedTab(4)">Reviews</a></li>

                </ul>

                <div class="panel" ng-show="panel.isSelected(1)">
                    <!--ng-show="tab===1"-->
                    <h4>{{gem.description}}</h4><br/>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <h4>{{gem.price|currency}}</h4><br />
                </div>
                <div class="panel" ng-show="panel.isSelected(3)">
                    <img ng-repeat="images in gem.images" ng-src="{{images.picURL}}" height="100px" length="100px" style="margin:2%" />
                </div>
                <div class="panel" ng-show="panel.isSelected(4)">
                    <blockquote ng-repeat="reviews in gem.reviews" class="panel-body">
                        <strong>Stars: {{reviews.stars}}</strong><br />
                        Author:{{reviews.author}}<br />
                        Review:{{reviews.body}}<br />
                    </blockquote>

                    <form name="reviewForm" ng-controller="reviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(d)">
                        <!--preview-->
                        <blockquote>
                            <strong>{{reviewCtrl.review.stars}} Stars</strong>
                            {{reviewCtrl.review.body}}
                            <cite class="clearfix">{{reviewCtrl.review.author}}</cite>
                        </blockquote>

                        <!--form-->
                        <h4>Submit a review</h4>
                        <fielset class="form-group">
                            <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]">
                                <option value="">Rate the product</option>
                            </select>
                        </fielset>
                        <fielset class="form-group">
                            <textarea ng-model="reviewCtrl.review.body" maxlength="100" class="form-control" placeholder="Write a short review">
                        </textarea>
                        </fielset>
                        <fielset class="form-group">
                            <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="example@domain.com" />
                        </fielset>
                        <fielset class="form-group">
                            <input type="submit" class="btn btn-info pull-right" value="Submit Review" />
                        </fielset>
                        <br />
                    </form>
                </div>
            </section>
            <br />

        </div>
    </div>
  
</body>
</html>